body {
  background-color: darkred;
}
span {
  color: darkred;
}
.col-md-7 {
  padding: 80px;
  color: darkgray;
}
form {
  padding-bottom: 20px
  border: 2px solid darkgray;
}
.jumbotron
{
  padding: 60px;
}
em{
  font-weight: bold;
}
h2{
  font-weight:bolder;
}
