body {
  background-color: darkred;
  font-family: cursive;
}
h1 {
  font-weight: bolder;
}
span {
  color: darkred;
}
.col-md-7 {
  padding: 80px;
  color: darkgray;
}
fieldset {
  border: 1px solid gray;
  margin: 1px;
  padding: 10px;
}
.jumbotron
{
  padding: 60px;
}
em{
  font-weight: bold;
}
h2{
  font-weight:bolder;
}
